.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?

      - @docs.each do |doc|
        %a{:href => (url_for [doc])}
          .doc
            %p.title= doc.title
            %p.date= "#{time_ago_in_words(doc.created_at)} ago"
            %p.content= truncate(doc.content, legnth:70)
            %hr

    - else
      %h2 Create Doc!
      %p Start Creating Documents and Organizing your life!
      %button= link_to "Create Doc", new_doc_path

= link_to "Create Doc", new_doc_path